</div>
<div class="footer-padding"></div>
<div class="footer" style="height:80px; z-index:5000">
  <div class="social-icons">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100069799847643">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a target="_blank" href="https://twitter.com/Vicky_Kumar1001">
        <i class="fab fa-twitter"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/vicky_kumar1001/">
        <i class="fab fa-instagram"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/vicky-kumar1001/">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  <p> Made with ❤️ by Vicky Kumar </p>
</div>
</div>
</div>
</body>
</html>
