<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Hyperbole</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" href="/img/writing.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Parisienne&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
    src="https://kit.fontawesome.com/cc2523ce93.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn"><i class="fa-solid fa-bars"></i></label>
          <label class="logo">HYPERBOLE🙊</label>
          <ul>
          <li id="home" ><a class="active" href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
          </ul>
    </nav>
    <div class="container">
