<%-include("partials/header");%>
<h1>About</h1>
  <h3>Thank you for visiting my blog..!</h3>
  <br>
  <p>
    My name is <b> Vicky Kumar </b> and I am a student at NIT Mizoram. I created this
    blog as a platform to share my thoughts and ideas on random topics. I
    believe that
    <q
      ><cite>
        If you have knowledge, let others light their candle in it.</cite
      ></q
    >
  </p>

  <p>
    My goal is to create engaging content and provide valuable information,
    inspiration, and entertainment to the readers.
  </p>

  <p>
    I want you to take a look around the site and explore posts on the
    homepage.
  </p>
  <br>
  <p>I hope you enjoy reading the content as
    much as I enjoy creating it.
  </p>
<%-include("partials/footer");%>
